html {
  font-size: 18px; }
  @media screen and (max-width: 768px) {
    html {
      font-size: 17px; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 16px; } }

html,
body {
  height: 100%; }

body {
  font-family: "Alegreya Sans",Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative; }

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden; }

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
  position: relative; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal; }

table {
  border-collapse: collapse; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }

p {
  padding: 0;
  margin: 0; }

footer {
  position: relative;
  width: 100%; }

* {
  box-sizing: border-box; }

a {
  color: inherit; }

img {
  display: block;
  max-width: 100%; }

.hero {
  background-color: #F5F5F5;
  height: 100vh;
  min-height: 36.1111111111rem;
  color: #292929; }
  @media screen and (max-width: 768px) {
    .hero:before, .hero:after {
      display: none; } }

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1.3333333333rem 0 2.5rem;
  background: url(/img/headphones.svg) right center/50% auto no-repeat; }
  @media screen and (max-width: 768px) {
    .hero__container {
      background: none; } }

.hero__main-title {
  font-size: 2.6666666667rem;
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: 1.2222222222rem;
  text-transform: uppercase; }

.hero__title-desc {
  font-size: 1.1666666667rem;
  margin-bottom: 3rem;
  padding-right: 10%; }

.hero__title-section {
  width: 46%; }
  @media screen and (max-width: 768px) {
    .hero__title-section {
      width: 100%;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center; }
      .hero__title-section:before {
        content: url(/img/headphones.svg); } }

@media screen and (max-width: 768px) {
  .hero__icons-section {
    display: none; } }

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between; }

@media screen and (max-width: 768px) {
  .phone-number.header__phone-number {
    display: none; } }

.phone-number__text {
  white-space: nowrap; }

.phone-number__icon-elem {
  flex-shrink: 0; }

.features {
  display: flex; }

.features__item {
  margin-right: 2.5555555556rem; }
  .features__item:last-child {
    margin-right: 0; }

.feature {
  display: flex; }

.feature__icon {
  width: 1.9444444444rem;
  margin-right: 0.3888888889rem; }

.feature__text {
  font-size: 0.8888888889rem;
  max-width: 4.7222222222rem; }

.btn {
  font-size: 1.0555555556rem;
  font-weight: bold;
  padding: 1rem 1.9444444444rem;
  text-transform: uppercase;
  border-radius: 5.5555555556rem;
  line-height: 1;
  text-decoration: none;
  border: none; }
  .btn--theme--red {
    background: #E01F3D;
    color: #F5F5F5; }
    .btn--theme--red:hover {
      color: #F5F5F5;
      background: #CA1B36; }
  .btn--theme--burgundy {
    color: #CA1B36;
    background: #fff; }
    .btn--theme--burgundy:hover {
      color: #fff;
      background: #CA1B36; }
  .btn--theme--transparent {
    background: transparent;
    color: #fff;
    text-transform: none; }
    .btn--theme--transparent:hover {
      color: #CA1B36; }

.form__btns {
  display: flex; }

.section {
  height: 100vh;
  min-height: 36.1111111111rem;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.section__title {
  font-size: 2.6666666667rem;
  font-weight: bold;
  margin-bottom: 3.3333333333rem;
  text-align: center;
  text-transform: uppercase;
  color: #292929; }

.headline {
  text-align: center; }

.headline__title {
  margin-bottom: 1.3888888889rem; }

.headline__subtitle {
  padding: 0 19%;
  margin-bottom: 3.4444444444rem; }

.benefits {
  display: flex; }

.benefits__item {
  flex: 1;
  padding: 0 3%;
  position: relative; }
  .benefits__item:before {
    content: url(/img/shape2204.png);
    position: absolute;
    top: 1.6666666667rem;
    right: 0;
    transform: translateX(50%); }
  .benefits__item:first-child {
    padding-left: 0; }
  .benefits__item:last-child {
    padding-right: 0; }
    .benefits__item:last-child:before {
      display: none; }

.benefit__title {
  font-weight: bold; }

.benefit {
  text-align: center; }

.benefit__image-wrapper {
  display: inline-block;
  width: 7.1111111111rem;
  height: 7.1111111111rem;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden; }

.benefit__icon {
  width: 3.7777777778rem;
  height: 3.7777777778rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.benefit__desk {
  line-height: 1.0555555556rem;
  color: #666666;
  font-size: 0.8888888889rem;
  font-weight: 400; }

.benefits-section {
  position: relative; }
  .benefits-section:before {
    content: url(/img/Vector2.png);
    position: absolute;
    bottom: -1.6111111111rem;
    left: 0; }

.reviews__display {
  background: #F8FAF9;
  padding: 2.3333333333rem 2.3333333333rem;
  margin-bottom: 1.1111111111rem;
  overflow: hidden;
  position: relative; }
  .reviews__display:before {
    content: "";
    display: block;
    width: 5rem;
    height: 5rem;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -3.6111111111rem; }

.reviews__switcher {
  display: flex;
  justify-content: center; }

.reviews__display-inner {
  display: flex; }
  @media screen and (max-width: 768px) {
    .reviews__display-inner {
      flex-direction: column;
      text-align: center;
      align-items: center; } }

.reviews__avatar {
  width: 14.1111111111rem;
  height: 14.6666666667rem; }
  @media screen and (max-width: 768px) {
    .reviews__avatar {
      width: 7.2222222222rem;
      height: 7.2222222222rem; } }

.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%; }

.reviews__content {
  flex: 1;
  margin-left: 2.2222222222rem; }

.reviews__title {
  font-size: 1.6666666667rem;
  font-weight: bold;
  margin-bottom: 1.2222222222rem;
  color: black; }

.reviews__text {
  margin-bottom: 2rem; }

.reviews__author {
  font-size: 1rem;
  font-weight: bold;
  color: black; }

.interactive-avatar {
  width: 4.4444444444rem;
  height: 4.4444444444rem;
  border: 0.3333333333rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative; }
  .interactive-avatar--active {
    border-color: #E01F3D; }

.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between; }

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.form {
  display: flex;
  border-radius: 0.2222222222rem; }

.form__col {
  flex: 1;
  margin-right: 1.1111111111rem; }
  .form__col:last-child {
    margin-right: 0; }

.form__row {
  display: flex;
  margin-bottom: 1rem; }

.form__block {
  flex: 1;
  margin-right: 1.1111111111rem; }
  .form__block:last-child {
    margin-right: 0; }

.form__title {
  color: #fff; }

.form__input {
  width: 100%;
  border: none;
  padding: 1rem 0.6111111111rem;
  border: solid 0.1666666667rem transparent;
  border-radius: 0.2222222222rem; }
  .form__input--textarea {
    height: 10rem;
    resize: none; }
  .form__input:focus {
    border-color: #E01F3D;
    outline: none; }

.form__controls {
  display: flex;
  flex-wrap: wrap; }

.order-section {
  background: #181818; }

.radio {
  display: flex;
  cursor: pointer;
  user-select: none; }
  .radio--checkbox .radio__visible {
    border-radius: 0; }
    .radio--checkbox .radio__visible::before {
      background: url(/img/check.png) center center no-repeat; }

.radio__elem {
  display: none; }
  .radio__elem:checked ~ .radio__visible::before {
    display: block; }

.radio__visible {
  width: 1.4444444444rem;
  height: 1.4444444444rem;
  position: relative;
  border-radius: 50%;
  background: #fff; }
  .radio__visible:before {
    content: "";
    width: 0.7777777778rem;
    height: 0.7777777778rem;
    background: #E01F3D;
    border-radius: 50%;
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.radio__title {
  color: #fff; }

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 100; }

.fixed-menu__item {
  margin-bottom: 0.2777777778rem; }
  .fixed-menu__item--active .fixed-menu__link {
    border-color: #E01F3D; }

.fixed-menu__link {
  width: 0.8888888889rem;
  height: 0.8888888889rem;
  border-radius: 50%;
  border: 0.0555555556rem solid transparent;
  display: block;
  position: relative; }
  .fixed-menu__link::before {
    content: "";
    display: block;
    width: 0.3333333333rem;
    height: 0.3333333333rem;
    border-radius: 50%;
    background: #E01F3D;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.menu {
  margin: 0 30px;
  padding-top: 5px; }
  @media screen and (max-width: 768px) {
    .menu {
      display: none; } }

.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center; }

.menu__item {
  margin-right: 0.8333333333rem;
  margin-bottom: 10px; }
  .menu__item:last-child {
    margin-right: 0; }

.menu__link {
  text-decoration: none;
  white-space: nowrap; }

.hamburger {
  width: 24px;
  height: 20px;
  flex-direction: column;
  justify-content: space-between;
  display: none; }
  @media screen and (max-width: 768px) {
    .hamburger {
      display: inline-flex; } }

.hamburger__plank {
  display: block;
  background: #292929;
  height: 4px;
  border-radius: 10px; }

/*# sourceMappingURL=main.css.map */
