$containerWidth: 940px;
$basefontsize: 18px;


// colors
$white: #F5F5F5;



// normalize
@import "./normalize.css"; 

// setups
@import "layout";

//components
@import "./components/hero";
@import "./components/header";
@import "./components/features";
@import "./components/feature";
@import "./components/btn";
@import "./components/section";
@import "./components/headline";
@import "./components/benefits";
@import "./components/benefit";
@import "./components/benefits-section";
@import "./components/reviews";
@import "./components/interactive-avatar.scss";
@import "./components/form.scss";
@import "./components/order-section.scss";
@import "./components/radio.scss";





